<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\QueueFactory">
        <arguments>
            <argument name="queueFactories" xsi:type="array">
                <item name="sqs" xsi:type="object">Belvg\Sqs\Model\QueueFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ExchangeFactory">
        <arguments>
            <argument name="exchangeFactories" xsi:type="array">
                <item name="sqs" xsi:type="object">Belvg\Sqs\Model\ExchangeFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ConsumerFactory">
        <arguments>
            <argument name="consumers" xsi:type="array">
                <item name="sqs" xsi:type="array">
                    <item name="connectionName" xsi:type="string">sqs</item>
                    <item name="type" xsi:type="array">
                        <item name="async" xsi:type="string">Magento\Framework\MessageQueue\Consumer</item>
                        <item name="sync" xsi:type="string">Magento\Framework\MessageQueue\Rpc\Consumer</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\PublisherPool">
        <arguments>
            <argument name="publishers" xsi:type="array">
                <item name="async" xsi:type="array">
                    <item name="sqs" xsi:type="object">Magento\Framework\MessageQueue\Publisher</item>
                </item>
                <item name="sync" xsi:type="array">
                    <item name="sqs" xsi:type="object">Magento\Framework\MessageQueue\Rpc\Publisher</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="belvgSqsQueueCreate" xsi:type="object">Belvg\Sqs\Console\Command\QueueCreate</item>
                <item name="belvgSqsQueueDelete" xsi:type="object">Belvg\Sqs\Console\Command\QueueDelete</item>
                <item name="belvgSqsQueuePurge" xsi:type="object">Belvg\Sqs\Console\Command\QueuePurge</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\ConnectionTypeResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="sqs" xsi:type="object">Belvg\Sqs\Model\ConnectionTypeResolver</item>
            </argument>
        </arguments>
    </type>
</config>
